*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --white: #FFFFFF;
    --grey: #949494;
    --blue-800: #242742;
    --blue-700: #36384D;
    --red: #FF6155;
    --light-red: hsla(4, 100%, 67%, 0.2);
    --gradient: linear-gradient(to right, #FF6A3A, #FF527B);

    /* SPACING */
    --spacing-100: calc(8 / 16 * 1rem);
    --spacing-200: calc(16 / 16 * 1rem);
    --spacing-300: calc(24 / 16 * 1rem);
    --spacing-400: calc(32 / 16 * 1rem);
    --spacing-500: calc(40 / 16 * 1rem);
    --spacing-600: calc(48 / 16 * 1rem);
    --spacing-800: calc(64 / 16 * 1rem);
    --spacing-900: calc(72 / 16 * 1rem);
    --spacing-1300: calc(104 / 16 * 1rem);

    /* Leading */
    --line-height-relaxed: 1.5;
    --line-height-normal: 1;

    /* Font Family */
    --font-family: 'Roboto', Arial, Helvetica, sans-serif;

    /* Font Size */
    --font-sm : calc(12 / 16 * 1rem);
    --font-md : calc(16 / 16 * 1rem);
    --font-lg : calc(40 / 16 * 1rem);
    --font-xl : calc(56 / 16 * 1rem);

    /* Font weight */
    --font-regular: 400;
    --font-bold: 700;


}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    background: var(--white);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    min-height: 100vh;
}

.body-text {
    font-size: var(--font-md);
    font-weight: var(--font-regular);
    line-height: var(--line-height-relaxed);
    font-family: var(--font-family);
    color: var(--blue-800);
}

.headline {
    font-size: var(--font-lg);
    font-weight: var(--font-bold);
    line-height: var(--line-height-normal);
    color: var(--blue-800);
}

.label-text {
    font-size: var(--font-sm);
    font-weight: var(--font-bold);
    line-height: var(--line-height-relaxed);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    padding-block-end: var(--spacing-500);
    background-color: var(--white);
}

.newsletter::before {
    content: '';
    background:
        url('/assets/images/illustration-sign-up-mobile.svg') 
        center center/cover no-repeat;
    min-height: 18rem;
    width: 100%;
    margin: 0;
    border-radius: 0 0 1rem 1rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
}

.newsletter__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding-inline: var(--spacing-300);

}

.newsletter__content__features {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    justify-content: center;
}


.newsletter__feature-items {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.newsletter__feature-items::before {
    content: '';
    min-width: 1.3rem;
    min-height: 1.3rem;
    align-self: flex-start;
    background: url('/assets/images/icon-list.svg') center center/contain no-repeat;
    margin-inline-end: var(--spacing-200);
    display: block;
}



.newsletter__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    justify-content: center;
    align-items: center;
    padding-inline: var(--spacing-300);

}

.newsletter__form:invalid button[type='submit'] {
    cursor: not-allowed;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    width: 100%;
}

.label-text {
    display: inline-block;
}

.form-row input[type='email'] {
    border: .1rem solid var(--grey);
    border-radius: var(--spacing-100);
    padding: var(--spacing-200) var(--spacing-200);
    font-size: var(--font-md);
    order: 2;
    color: var(--grey);
}

.form-row input[type='email']:focus {
    outline: 0;
    border: .1rem solid var(--blue-700);
    color: var(--blue-700);
}

.form-row input[type='email']:invalid:not(:placeholder-shown) {
    outline: 0;
    border: .1rem solid var(--red);
    background-color: var(--light-red);
    color: var(--red);
}

input[type='email']:invalid:not(:placeholder-shown) + .label-text:after {
    content: "Valid email required";
    float: right;
    color: var(--red);
}


.btn {
    background-color: var(--blue-800);
    padding: var(--spacing-200);
    color: var(--white);
    font-family: var(--font-family);
    border: none;
    border-radius: var(--spacing-100);
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn-text {
    font-size: var(--font-md);
    font-weight: var(--font-bold);
    line-height: var(--line-height-relaxed);
}


.newsletter-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-400);
    background-color: var(--white);
    height: 92vh;
    margin-top: auto;
    padding-inline: var(--spacing-300);
}

.newsletter-success::before {
    content: '';
    background: url('/assets/images/icon-success.svg') center center/cover no-repeat;
    width: 4rem;
    height: 4rem;
    display: block;
    margin-top: auto;
}

.btn-dismiss {
    margin-top: auto;
}


@media (min-width: 30rem) {

    body {
        align-items: center;
        justify-content: center;
        background-color: var(--blue-800);
    }

    .headline {
        font-size: var(--font-xl);
    }

    .newsletter__form {
        gap: var(--spacing-200);
    }

    .card {
        min-width: 38rem;
        padding: var(--spacing-500);
        border-radius: var(--spacing-500);
    }

    .newsletter::before {
        content: '';
        background:
            url('/assets/images/illustration-sign-up-tablet.svg')
            center center/cover no-repeat;
        min-height: 22rem;
        border-radius: var(--spacing-200);
        border: 0;
    }
    
    .newsletter__content {
        padding-inline: 0;
    }
    
    .newsletter__form {
        padding-inline: 0;
    }

    .btn-dismiss {
        margin: 0;
    }

    .newsletter-success {
        padding: var(--spacing-800);
        margin: auto;
        justify-content: flex-start;
        height: auto;
        width: 31.5rem;
        border-radius: 2.25rem;
    }
}


@media (min-width: 64rem) {
    
    .card {
        padding: var(--spacing-300);
        border-radius: var(--spacing-300);
    }
    
    .newsletter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: var(--spacing-400);
        column-gap: var(--spacing-800);
    }
    
    
    .newsletter::before {
        content: '';
        background:
        url('/assets/images/illustration-sign-up-desktop.svg')
        center center/contain no-repeat;
        min-height: 36rem;
        border-radius: var(--spacing-200);
        border: 0;
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .newsletter__content {
        width: 24rem;
        min-height: 16rem;
        gap: var(--spacing-400);
        grid-column: 1;
        grid-row: 1;
        justify-content: flex-end;
    }
    
    .newsletter__form {
        gap: var(--spacing-300);
        grid-column: 1;
        grid-row: 2;
        align-self: flex-start;
        min-height: 14rem;
        justify-content: flex-start;
        
    }

    .newsletter__form:valid .btn {
        background: var(--gradient);
    }

    .newsletter-success .btn:active {
        background: var(--gradient);
    }
    
}


.hidden {
    display: none;
}